@import '../src/scss/common/variables';

.pokemon-card {
  margin-left: 8px;
  margin-top: 16px;
  border: 1px solid;
  border-radius: 10px;
  width: calc((100% / 3) - 16px);

  @each $type, $color in $types {
    &.#{$type} {
      border-color: $color;

      .number {
        color: $color;
      }

      .name-container {
        background: $color;
      }
    }
  }

  .number-container {
    display: flex;
    padding: 4px 8px;
    justify-content: flex-end;
  }

  .image-container {
    width: 100%;
    display: flex;
    justify-content: center;

    .image {
      width: 72px;
      height: 72px;
    }
  }

  .name-container {
    color: $white;
    display: flex;
    padding: 4px 8px;
    justify-content: center;
    border-radius: 0 0 8px 8px;
    text-transform: capitalize;
  }
}